@media screen and (min-device-width: 100px) and (max-device-width: 500px) {
    .call-to-action-posts {
        height: 300px;
        background: #0e021d;
        width: 30%;
        overflow: hidden;
    }

    .sidebar-right {
        display: none;
    }
}

@media screen and (min-device-width: 500px) {
    .call-to-action-posts {
        height: auto;
        background: #0e021d;
        width: 100%;
        overflow: hidden;
        padding: 20px;
    }

    .commit-here-button {
        font-size: 20px;
        letter-spacing: 1px;
    }
}

#post > h1 {
    color: #d20057;
    font-weight: bold;
    margin-bottom: 28px;
}

#post > h1:after {
    background: #464646;
    content: '';
    display: block;
    width: 120%;
    height: 1px;
    margin-top: -5px;
    margin-left: -20%;
}

#post > h2 {
    color: #00e4ff;
    font-weight: bold;
}